
body {
    background: linear-gradient(135deg, #e456d8 0%, #209cff 100%);
    font-family: 'Poppins', sans-serif;
    background-size:contain;
    color: #fff;
}

h1, h2 {
    color: #ffffff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.979);
    backdrop-filter: blur(15px);

}

.time-display {
    font-size: 2.5rem;
    color: #ffffff;
}

input, select {
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    background-color: #f1f3f6;
    color: #333;
    
}

input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.btn {
    border-radius: 25px;
    font-size: 1rem;
    padding: 10px 20px;
}

.add-button {
    background: linear-gradient(135deg, #68e0cf 0%, #209cff 100%);
    border: none;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.add-button:hover {
    background: linear-gradient(135deg, #209cff 0%, #68e0cf 100%);
}

.delete-button, .edit-button {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.delete-button:hover, .edit-button:hover {
    color: #1768ff;
}

.input-w{
    width: 95px;
    font-display: 2px;
}